@import "tokens.css";

/* Home Styles */
.intro {
    h1 {
        text-align: center;
        margin: var(--text-margin);
        color: var(--color-primary);
    }
}



.combined {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.combined-fifty {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    object-fit: cover;
}

.group {
    object-fit: cover;
}