@import "../nav.css";
@import "../layout.css";
@import "../footer.css";


:root {
    --color-primary: rgb(73, 44, 8);

    --font-heading: "lexia-hebrew", sans-serif;

    --font-body: "Arial", sans-serif;

}


#main img {
    object-fit: cover;
}


.kids_combined,
.college_combined,
.senior_combined {
    display: flex;
}

.kids_combined img,
.college_combined img,
.senior_combined img {
    width: auto;
    height: 50%;
}



/******************** Ice Cream Sandwiches Packaging *********************/

#iceCreamSandwich {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-primary);
        font-family: var(--font-heading);
        font-weight: 700;
        font-style: normal;
    }

}

p {
    font-family: var(--font-body);
}


.process a {
    text-decoration-color: var(--color-primary);
}