/********************Mammoth*********************/

#mammoth {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: rgb(168, 61, 47);
        font-family: "urbane-rounded", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

}


.pictoral-logos {
    display: flex;
    justify-content: center;
}

#mammoth #pictoral-motion {
    width: 40%;
    height: auto;
    align-content: center;
}


.kids-kit-booklet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    align-items: start;
    margin-top: 10em;
}

/* Hero image on the left */
#kids-kit-hero {
    width: 100%;
    height: auto;
}

/* Spreads container */
#kids-kit-spreads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

/* Spread images */
#kids-kit-spreads img {
    width: 100%;
    height: auto;
}

/*
.kids-kit-booklet {
    display: flex;
    gap: 1em;
}


#main #kids-kit-hero img {
    gap: 2em;
    width: 40%;
    height: auto;
}


#main #kids-kit-spreads {
    display: flex;
    gap: 1em;
}

#main #kids-kit-spreads img {
    width: 1em;
    height: auto;
}*/


#mammothpieces .merch {
    display: flex;
    gap: 10px;
}

.process a {
    text-decoration-color: rgb(168, 61, 47);
}