#nepalAirlines p {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#nepalAirlines {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "halyard-display", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #02124c;
    }
}

/*
#nepalAirlines #websitegif img {
    width: 200%;
    height: auto;
}*/