#nepalAirlines p {
    font-family: "halyard-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#nepalAirlines {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "halyard-display", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #02124c;
    }
}

#main #websitegif {
    width: 100%;
    height: auto;
}

#main .website-application {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
}

#main .website-application h2,
#main .website-application p {
    margin: 0px;
    margin-bottom: 1em;
}

#main #tie-application {
    align-content: center;
    padding-right: 8em;
}

/*
#nepalAirlines #websitegif img {
    width: 200%;
    height: auto;
}*/