/***********Bio*******/


#bio {
    display: grid;
    grid-template-columns: 10;
    grid-template-rows: 10;
}


.profile {
    margin: 20px 0px;
    border-radius: 15px;
    width: 80%;
    grid-column: 2 / 5;
    grid-row: 6 / 9;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 100px;
    z-index: -1;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    /*margin: 20px 0px;*/
    padding: 45px;
    /*color: black; not necessary, I believe.*/
    grid-column: 5 / 9;
    grid-row: 7 / 7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 25px;
    margin-right: 200px;
    margin-left: -100px;
}

.msg p {
    color: #153243;
    font-family: "Lato";
    font-size: .9em;
    margin: 0px;
    margin-right: 20px;
}

.msg h2 {
    color: #AF3E4D;
    font-family: "Satisfy";
}



h1 {
    text-align: center;
    padding-top: 100px;
    margin-bottom: -70px;
    color: #113B51;
}