/***********Bio*******/


#bio {
    display: flex;
    margin: 5em;
}


#profile {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 2em;
    z-index: -1;
}

h1 {
    color: #00aeef;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.msg {
    display: block;
    line-height: 1.5em;
    /*margin: 20px 0px;*/
    padding: 45px;
    justify-content: center;
}

.msg p {
    color: #153243;
    font-family: "Lato";
    font-size: .9em;
    margin: 0px;
}

.msg h2 {
    color: #AF3E4D;
    font-family: "Satisfy";
}