/***********Footer*******/

footer {
    color: #00aeef;
    margin-top: 200px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    font-family: "Lora", Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

footer a {
    color: #00aeef;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1em;
    margin: 20px;
}

footer p a:hover {
    text-decoration: underline;
}

.social {
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    background: #007bb5;
    color: white;
    margin-right: 20px;
}