@layer layout {
    header {
        display: grid;
        grid-template-columns: 300px auto;
        background-color: var(--color-brand);
        height: 150px;
        /*Controls the relationship between the columns for the logo and the rest of the nav. Creates spacing between the logo and nav.*/
    }

    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #main {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto;
        object-fit: contain;
    }

    /*
    #main section {
        align-content: center;
    }*/
}