:root {
    --cyan: #00aeef;
    --white: #ffffff;
    --black: #000000;
    --header-font:
        /*--tan: #F2DEA0;
    --darker-tan: #D9BD89;
    --gray: #A6977B;*/
        /*--header-font: "Connemara Old Style Light", serif;*/
}



/*****Navigation*****/

.dark {
    background-color: #333;
    color: white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-weight: 700;
        font-style: normal;
    }



    nav a,
    .dropbtn {
        color: white;
    }

    .dropdown-content a:hover {
        background-color: white;
        color: var(--cyan);
    }

    .dropdown-content a {
        background-color: var(--cyan);
        color: white;
    }

}

select {
    width: 100px;
    height: 70px;
    padding: 20px;
    background: #AF3E4D;
    font-family: 'Lora';
    font-size: 16px;
    color: white;
}


.hide {
    display: none;
}

header button {
    stroke: none;
}


header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #00aeef;
    height: 150px;
    /*Controls the relationship between the columns for the logo and the rest of the nav. Creates spacing between the logo and nav.*/
}

.logo {
    width: 250px;
    /*Controls image size*/
}


.logo_link {
    justify-self: center;
    align-self: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav a:hover {
    background-color: white;
    color: #00aeef;
}


header button {
    background: none;
    box-shadow: none;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #00aeef;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(214, 234, 255);
    color: #00aeef;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: #00aeef;
}





/***********Hero Information************/
/***Hero Image**/
.heroimage img {
    width: 100%;
}

/**H3**/

/* p {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
}*/

h3 {
    color: #153243;
    margin-bottom: -20px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/**Description text, client, and disciplines**/
.overviewtext {
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: 300px;
    margin-right: 300px;
}

/**Descriptive text beginning**/
.description {
    padding: 60px;
    padding-top: 30px;
}

.description p {
    padding-top: 1em;
}

/**Client and Disciplines box**/
.clientanddisciplines {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.clientanddisciplines h3 {
    margin-bottom: 1px;
}




/******** Main and body ********/

/*This helps keep grids from getting in the way. Flex helps with making everything work properly.*/
#main {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

#main section {
    margin-bottom: 12em;
}

/*This gives margin on the left and right side so that it feels more centered*/
#main p,
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
    margin-left: 400px;
    margin-right: 400px;
}

#main img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}