/*****Navigation*****/

.dark {
    background-color: #333;
    color: white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }



    nav a,
    .dropbtn {
        color: white;
    }

    .dropdown-content a:hover {
        background-color: #788BFF;
        color: white;
    }

    .dropdown-content a {
        background-color: white;
        color: #788BFF
    }

}

select {
    width: 100px;
    height: 70px;
    padding: 20px;
    background: #AF3E4D;
    font-family: 'Lora';
    font-size: 16px;
    color: white;
}


.hide {
    display: none;
}

header button {
    stroke: none;
}


header {
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #00aeef;
    height: 150px;
    /*Controls the relationship between the columns for the logo and the rest of the nav. Creates spacing between the logo and nav.*/
}

.logo {
    width: 250px;
    /*Controls image size*/
}


.logo_link {
    justify-self: center;
    align-self: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #788BFF;
    color: white;
}


header button {
    background: none;
    box-shadow: none;
    font-family: "Lora";
}

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #153243;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #788BFF;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #788BFF;
    color: white;
}