/******Colors
  --primary-color: #153243; blue
  --secondary-color: #AF3E4D; pink
  --accent1-color: #788BFF;
  --accent2-color: #B4B8AB;
  --accent3-color: #CB8CF2;
  --accent4-color: white;
  *****/

@import "layout.css";
@import "footer.css";

:root {
    --cyan: #00FFFF;
    --white: #ffffff;
    --black: #000000;
    /*--tan: #F2DEA0;
    --darker-tan: #D9BD89;
    --gray: #A6977B;*/
    /*--header-font: "Connemara Old Style Light", serif;*/
}


/***Process Book and Case Study Links********/
.process {
    color: #788BFF;
}


/*************************Outlet***************************/
.outletcovers {
    text-align: center;
    margin: 30px;
}

.outletcovers img {
    width: 80%;
    height: auto;
}

.outletgroup {
    text-align: center;
}

.outletgroup1 img {
    height: 319px;
    width: auto;
}

.outletgroup2 img {
    height: 269px;
    width: auto;
}

.theexhibitimages img {
    padding: 10px;
    height: 640px;
    width: auto;
}

.theexhibitimages {
    display: flex;
    justify-content: center;
}



.feathersimages img {
    padding: 10px;
    height: 640px;
    width: auto;
}

.feathersimages {
    display: flex;
    justify-content: center;
}


.tnnwimages {
    text-align: center;
}

.tnnwfocusspread img {
    width: 1488px;
    height: auto;
}

.tnnwspreadsmockup img {
    width: 480px;
    height: auto;
    padding: 10px;
}


.sundaydriveimages {
    text-align: center;
}

.sundaydrive img {
    width: 730px;
    height: auto;
    padding: 10px;
}


.theweightofasoleimg {
    text-align: center;
}

.theweightofasoleimg img {
    width: 1480px;
    height: auto;
    padding: 10px;
}


.galleryimages {
    text-align: center;
}

.galleryimages img {
    width: 730px;
    height: auto;
    padding: 10px;
}



/***************Banking Website************/


.bankingimages {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.bankingimages img {
    width: 45%;
    height: auto;
}


/****************Hamlet Style**************/

.hamlettypecover img,
.hamletimagecover img {
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}


/****************GC Booklet****************/


.gcbookletimages {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gcbookletimages img {
    width: 49%;
    height: auto;
}


/****************Archery Logo Style****************/
/*


.archery img {
    display: flex;
    width: 80%;
    height: auto;
}

.archeryimages {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.archeryimages img {
    width: 70%;
    height: auto;
    margin: 30px;
}


*/
/***********************Identity Package*********************/
/*#idpackage section {
    margin-bottom: 50px;
}*/


/*changes the color of the h3s*/
#idpackage h2,
#idpackage h1,
#idpackage h3 {
    color: #da1c5c;
}


#idpackage img {
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.idpackage img,
.idpackagepieces img {
    width: 100%;
    height: auto;
    justify-content: center;
}

.Kennadeeinfo {
    display: block;
    padding: 30px;
}

.Kennadeeinfo h1,
.Kennadeeinfo h2,
.Kennadeeinfo p {
    text-align: left;
}

.idpackagelogo img {
    width: 80%;
    height: auto;
    padding: 0px;
}

.businesscardimages {
    display: flex;

    img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}

.meetKennadee img,
.fonts img,
.colors img,
.patterns img,
.invoice img {
    width: 100%;
    height: auto;
}

.crayonName img {
    width: 100%;
    height: auto;
}

.idpackage h3 {
    margin-top: 100px;

    a {
        color: #da1c5c;
    }
}



.envelope,
.styleguide {
    display: flex;
}

.envelope img {
    width: 100%;
    height: auto;
    padding: 10px;
}


.styleguide img {
    padding: 10px;
    width: 100%;
    height: auto;
}

#crayonAttributes {
    width: 107%;
    height: auto;
}



/********************* Menu ****************/

#menu h3,
.menuProcess h3 a {
    color: #553615;
}

/*
#menu section {
    margin-bottom: 200px;
}*/


#menu img {
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
}


/********************Mammoth*********************/

/*
#mammoth img {
    margin: auto;
    width: 100%;
    height: auto;
}
*/

.pictoral-logos {
    display: flex;
}

.pictoral-logos img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding-right: 100px;
}


#mammoth #pictoral-motion {
    width: 50%;
    height: auto;
}


#main .kids-kit-booklet img {
    width: 32%;
    height: auto;
}

.kids-kit-booklet {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#mammothpieces .merch {
    display: flex;
    gap: 10px;
}



@media screen and (max-width: 700px) {
    header {
        display: block;
        text-align: center;
        margin-bottom: 5em;
    }

    .logo {
        margin: auto;
        margin: 0px;
        margin-top: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav,
    .dropdown {
        display: block;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 15px;
        text-align: center;
    }

    .dropdown-content {
        position: static;
        /* no absolute positioning on mobile */
        box-shadow: none;
        width: 100%;
        text-align: center;
    }

    .dropdown-content a {
        width: 100%;
    }


    .dropbtn {
        padding: 15px;
    }

    .dropdown-content a {
        text-align: center;
    }

    select {
        margin-top: 25px;
    }

    .overviewtext {
        margin: 0;
        display: block;
    }

    .clientanddisciplines {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    #main {
        display: block;
        margin: 1em;
    }

    #main section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    main img {
        display: block;
        width: 100%;
        height: auto;
    }


    /********Home*******/

    #bio {
        display: block;
    }

    #bio img {
        width: 100%;
        height: auto;
    }

    #bio p {
        margin-top: -30px;
        margin-bottom: -5px;
    }

    .profile {
        z-index: 0;
        width: 80%;
        height: auto;
        margin: 0;
        box-shadow: none;
        margin-top: 100px;
    }

    .msg {
        margin: 0px;
        margin-bottom: 100px;
        box-shadow: none;

        p {
            padding-left: 0px;
        }
    }

    #gallery {
        margin-top: 80px;
        display: block;
        padding: 20px;
    }




    /********Outlet*****/
    /*
    .outletspreads {
        display: inline-block
    }

    .outletspreads img {
        width: 90%;
        height: auto;
    }
    */

    /************Banking Website***********/

    .bankingimages img,
    .archeryimages img,
    .etsyimages img,
    .hamletimages img,
    .gcbookletimages img,
    .idpackageimages img {
        width: 100%;
        height: auto;
    }


    /**********************Identity Package*****************/
    /*
    #idpackage section {
        display: block;
        margin: 40px;
    }
        */


    /********************Footer*************************/

    footer {
        display: block;
        text-align: center;
        margin: 30px;
        padding: 0px;
    }

    footer p {
        padding: 5px;
    }

    .fa {
        margin-right: 0px;
    }



}


/*@media screen and (max-width: 1000px) {
    

}*/